*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
scroll-behavior:smooth;
}

body{
background:#121212;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#1a1a1a;
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px 20px;
}

.hero img{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
margin-bottom:20px;
}

.hero h1{
font-size:3rem;
}

.hero p{
margin:20px 0;
color:#cccccc;
}

.btn{
background:#00bfff;
padding:12px 20px;
color:white;
text-decoration:none;
border-radius:8px;
}

section{
padding:60px 10%;
}

h2{
margin-bottom:20px;
color:#00bfff;
}

.skills{
display:flex;
gap:15px;
flex-wrap:wrap;
}

.skills span{
background:#222;
padding:10px 15px;
border-radius:8px;
}

.project-card{
background:#1e1e1e;
padding:20px;
margin-bottom:25px;
border-radius:12px;
}

.project-card img{
width:100%;
border-radius:10px;
margin-bottom:15px;
}

.project-card a{
display:inline-block;
margin-top:10px;
color:#00bfff;
}

footer{
text-align:center;
padding:20px;
background:#1a1a1a;
}
